# **Machine Learning Model: Recommend outfits based on User's determined Age Group.**

## **Part-1:  Predict the age group of the user depending upon his/her Age:**

- The age group can be determined depending upon the age of the user. The three age groups that the model supports are - Children, Teen, Adult.
- Depending upon the age range, the user's will be alotted to their specific age group for further outfit recommendations.

### **Import necessary libraries:**

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
path1 = 'https://drive.google.com/uc?id=1uTdERhfpCC0dtc-YyXadY9ZoHShJvsDU'
num = pd.read_csv(path1)
df = num.loc[:, ['Age']]
df.columns = ['Age']
df.dropna(inplace=True)

**-- Define conditions to determine the age group for user:**

In [52]:
def age_groups(df):
    # Add a new column called 'AgeGroups'
    df['AgeGroups'] = ''

    # Loop through each row in the dataframe
    for i in range(len(df)):
        # Determine age groups type as - Children, Teen, Adult
        age = df.at[i, 'Age']

        if age >= 1 and age <= 12:
            df.at[i, 'AgeGroups'] = 'Children'
        elif age >= 13 and age <= 17:
            df.at[i, 'AgeGroups'] = 'Teen'
        elif age >= 18 and age < 40:
            df.at[i, 'AgeGroups'] = 'Adult'

    return df

In [32]:
df = age_groups(df)
df

     Age AgeGroups                                          Dresstype
0     30     Adult  [chic, Off-shoulder, Bodycon, pencil skirt, bl...
1     28     Adult  [chic, Off-shoulder, Bodycon, pencil skirt, bl...
2     27     Adult  [chic, Off-shoulder, Bodycon, pencil skirt, bl...
3     29     Adult  [chic, Off-shoulder, Bodycon, pencil skirt, bl...
4     28     Adult  [chic, Off-shoulder, Bodycon, pencil skirt, bl...
..   ...       ...                                                ...
711   13      Teen                                            Unknown
712   10  Children  [t-shirt, jeans, shorts, smock dress, boys, gi...
713    4  Children  [t-shirt, jeans, shorts, smock dress, boys, gi...
714   13      Teen                                            Unknown
715    4  Children  [t-shirt, jeans, shorts, smock dress, boys, gi...

[716 rows x 3 columns]

In [33]:
value_counts = df['AgeGroups'].value_counts()

print(value_counts)

Children    396
Adult       209
Teen         78
             33
Name: AgeGroups, dtype: int64

### **Check if the count for every age group is valid:**

In [34]:
count_rect = len(df[df['AgeGroups'] == 'Children'])
print(count_rect)

396

In [53]:
count_rect = len(df[df['AgeGroups'] == 'Teen'])
print(count_rect)

78

In [54]:
count_rect = len(df[df['AgeGroups'] == 'Adult'])
print(count_rect)

209

### **Split the dataset into train and test sets:**

**-- Importing necessary libraries:**

In [55]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [56]:
X_train, X_test, y_train, y_test = train_test_split(df[['Age']], df['AgeGroups'], test_size=0.2, random_state=42)

### **Create a DecisonTree Classifier and fit it to the training datasets:**

In [61]:
clf_age_based = DecisionTreeClassifier()
clf_age_based.fit(X_train, y_train)

DecisionTreeClassifier()

**-- Predict the age group based on test datasets:**

In [63]:
y_pred = clf_age_based.predict(X_test)

-- Accuracy rate of the DecisionTree Classifier:

In [64]:
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)

Accuracy: 1.0

### **Sample testing on trained datasets:**

In [68]:
# predict the age group of user

input_values = np.array([[4]])

predicted_age_group = clf_age_based.predict(input_values)

print('Predicted age group:', predicted_age_group)

Predicted age group: ['Children']

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [66]:
# predict the age group of user

input_values = np.array([[14]])

predicted_age_group = clf_age_based.predict(input_values)

print('Predicted age group:', predicted_age_group)

Predicted age group: ['Teen']

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [67]:
# predict the age group of user

input_values = np.array([[32]])

predicted_age_group = clf_age_based.predict(input_values)

print('Predicted age group:', predicted_age_group)

Predicted age group: ['Adult']

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

## **Part-2:  Recommend outfits to user based on the predicted age group.**

**General notion of outfits specific to age groups are:**


**-- Children:**    *t-shirt, jeans, shorts, casuals, smock dresses, skirts*

**-- Teen:**    *v-neck tshirts, graphic tees, skinny jeans, sneakers, mini dresses, short skirts, rompers*

**-- Adult:**    *slacks, heels, skirts, wrap dresses, chic, jumpsuits, midi dresses, sandals, bodycon*

**List of DressTypes appropriate for determined AgeGroup:**

*-- 'Ruffle dress', 'Tunics', 'V-neck tops', 'Rompers', 'Pencil cut skirts', 'Tank tops', tailored blazers', 'high-waisted pants', 'bootcut jeans', 'peplum tops'*

*-- 'Wrap dresses', 'fit and flare dresses', 'Bodycon dresses', 'Shift dresses', 'A-line dresses', 'Midi dresses', 'Pencil skirts', 'Crop tops', 'high-waisted jeans', 'flared pants', 'wrap dresses', 'fit and flare dresses'*

**The keywords to be matched for the specific AgeGroup:**

**-- Children:**   *t-shirt, jeans, shorts, smock dress, ruffle dress, tunics, skirts, jumpers*

**-- Teen:**   *skinny jeans, graphic tees, V-neck, sneakers, dresses, Off-shoulder*

**-- Adult:**   *chic, Off-shoulder, Bodycon, pencil skirt, blazers, blouses, jumpsuits, tops, sandals, mini skirts*

### **Import the sample dataset for outfit recommendation:**

In [69]:
import pandas as pd

age_groups_dict = {
    "Children": ["t-shirt", "jeans", "shorts", "smock dress", "boys", "girls", "child"],
    "Teens": ["skinny jeans", "graphic tees", "V-neck", "sneakers", "dresses", "Off-shoulder"],
    "Adult": ["chic", "Off-shoulder", "Bodycon", "pencil skirt", "blazers", "blouses", "jumpsuits", "tops", "sandals", "mini skirts"]
}


def map_ageGroup_to_dressType(agegrp):
    for key, value in age_groups_dict.items():
        if agegrp == key:
            return value
    return "Unknown"


df["Dresstype"] = df["AgeGroups"].apply(map_ageGroup_to_dressType)

print(df)
df.head()

     Age AgeGroups                                          Dresstype
0     30     Adult  [chic, Off-shoulder, Bodycon, pencil skirt, bl...
1     28     Adult  [chic, Off-shoulder, Bodycon, pencil skirt, bl...
2     27     Adult  [chic, Off-shoulder, Bodycon, pencil skirt, bl...
3     29     Adult  [chic, Off-shoulder, Bodycon, pencil skirt, bl...
4     28     Adult  [chic, Off-shoulder, Bodycon, pencil skirt, bl...
..   ...       ...                                                ...
711   13      Teen                                            Unknown
712   10  Children  [t-shirt, jeans, shorts, smock dress, boys, gi...
713    4  Children  [t-shirt, jeans, shorts, smock dress, boys, gi...
714   13      Teen                                            Unknown
715    4  Children  [t-shirt, jeans, shorts, smock dress, boys, gi...

[716 rows x 3 columns]

   Age AgeGroups                                          Dresstype
0   30     Adult  [chic, Off-shoulder, Bodycon, pencil skirt, bl...
1   28     Adult  [chic, Off-shoulder, Bodycon, pencil skirt, bl...
2   27     Adult  [chic, Off-shoulder, Bodycon, pencil skirt, bl...
3   29     Adult  [chic, Off-shoulder, Bodycon, pencil skirt, bl...
4   28     Adult  [chic, Off-shoulder, Bodycon, pencil skirt, bl...

In [79]:
path2 = 'https://drive.google.com/uc?id=1ypzPWMt5FqtUYtS0kN_OpXjtYKXZxno9'
num = pd.read_csv(path2, on_bad_lines='skip')
df1 = num.loc[:, ['title', 'product_type', 'product_details', 'ideal_for', 'type', 'images', 'link', 'brand', 'actual_color', 'specifications']]

df1.dropna(inplace=True)
df1.head()

,title,product_type,product_details,ideal_for,type,images,link,brand,actual_color,specifications
0,IMARA Women Black Solid Top,Top,"Black solid woven regular top,has a V-neck, th...",Women,Clothing/Women/Tops/IMARA/More by IMARA,http://assets.myntassets.com/v1/assets/images/...,https://www.myntra.com/tops/imara/imara-women-...,IMARA,Black,Transparency : Opaque | Sleeve Styling : Bell ...
5,Wintage Men Beige Solid Kurta with Pyjamas,Kurta with Pyjamas,Beige solid kurta with pyjamas Beige straight ...,Men,Clothing/Men/Kurta Sets/Wintage/More by Wintage,http://assets.myntassets.com/v1/assets/images/...,https://www.myntra.com/kurta-sets/wintage/wint...,Wintage,Beige,Sleeve Styling : Regular Sleeves | Occasion : ...
9,SALWAR STUDIO Boys Orange & White Printed Kurt...,Kurta with Pyjamas,Orange and white printed kurta with pyjamas Or...,Boys,Clothing/Boys/Kurta Sets/SALWAR STUDIO/More by...,http://assets.myntassets.com/v1/assets/images/...,https://www.myntra.com/kurta-sets/salwar-studi...,SALWAR STUDIO,White | Orange,Occasion : Festive | Number of Components : 2 ...
10,Clora Creation Women Navy Blue Wide Leg Printe...,Printed Palazzos,A pair of navy blue printed woven wide leg pal...,Women,Clothing/Women/Palazzos/Clora Creation/More by...,http://assets.myntassets.com/v1/assets/images/...,https://www.myntra.com/palazzos/clora-creation...,Clora Creation,Blue | Navy,Transparency : Opaque | Closure : Slip-On | Oc...
11,Libas Women Blue & White Striped Straight Kurta,Straight Kurta,"Blue and white striped straight kurta, has a s...",Women,Clothing/Women/Kurtas/Libas/More by Libas,http://assets.myntassets.com/v1/assets/images/...,https://www.myntra.com/kurtas/libas/libas-wome...,Libas,Blue | White,Shape : Straight | Sleeve Styling : Regular Sl...

In [80]:
num_rows = df1.shape[0]
print('Number of rows:', num_rows)

Number of rows: 7684

### **RegEx Pattern Matching functionality:**

In [81]:
import re

keywords = ['t-shirt', 'jeans', 'shorts', 'smock dress', 'skinny jeans', 'graphic tees', 'V-neck', 'sneakers', 'dresses', 'Off-shoulder',
            'chic', 'Off-shoulder', 'Bodycon', 'pencil skirt', 'blazers', 'blouse', 'jumpsuits', 'sandals', 'mini skirts', 'tops',
            'classy', 'sophisticated', 'peplum', 'trousers', 'shirt dress', 'formal', 'boys', 'girls', 'child', 'kurta', 'dupatta']

#Check for extra spaces and convert to lower case
keywords = [kw.strip().lower() for kw in keywords]

# Join the keywords with "|" operator for matching the pattern
pattern = '|'.join(keywords)

# Use str.contains() for regular expression patterns
filtered_df = df1[df1['product_type'].str.contains(pattern, flags=re.IGNORECASE) | 
                 df1['product_details'].str.contains(pattern, flags=re.IGNORECASE) | 
                 df1['title'].str.contains(pattern, flags=re.IGNORECASE) | 
                 df1['ideal_for'].str.contains(pattern, flags=re.IGNORECASE) | 
                 df1['images'].str.contains(pattern, flags=re.IGNORECASE) |
                 df1['type'].str.contains(pattern, flags=re.IGNORECASE)]
filtered_df.head()

,title,product_type,product_details,ideal_for,type,images,link,brand,actual_color,specifications
0,IMARA Women Black Solid Top,Top,"Black solid woven regular top,has a V-neck, th...",Women,Clothing/Women/Tops/IMARA/More by IMARA,http://assets.myntassets.com/v1/assets/images/...,https://www.myntra.com/tops/imara/imara-women-...,IMARA,Black,Transparency : Opaque | Sleeve Styling : Bell ...
5,Wintage Men Beige Solid Kurta with Pyjamas,Kurta with Pyjamas,Beige solid kurta with pyjamas Beige straight ...,Men,Clothing/Men/Kurta Sets/Wintage/More by Wintage,http://assets.myntassets.com/v1/assets/images/...,https://www.myntra.com/kurta-sets/wintage/wint...,Wintage,Beige,Sleeve Styling : Regular Sleeves | Occasion : ...
9,SALWAR STUDIO Boys Orange & White Printed Kurt...,Kurta with Pyjamas,Orange and white printed kurta with pyjamas Or...,Boys,Clothing/Boys/Kurta Sets/SALWAR STUDIO/More by...,http://assets.myntassets.com/v1/assets/images/...,https://www.myntra.com/kurta-sets/salwar-studi...,SALWAR STUDIO,White | Orange,Occasion : Festive | Number of Components : 2 ...
11,Libas Women Blue & White Striped Straight Kurta,Straight Kurta,"Blue and white striped straight kurta, has a s...",Women,Clothing/Women/Kurtas/Libas/More by Libas,http://assets.myntassets.com/v1/assets/images/...,https://www.myntra.com/kurtas/libas/libas-wome...,Libas,Blue | White,Shape : Straight | Sleeve Styling : Regular Sl...
12,Libas Women Coffee Brown Solid Kurta with Pala...,Kurta with Palazzos,Coffee brown solid kurta with palazzos Coffee ...,Women,Clothing/Women/Kurta Sets/Libas/More by Libas,http://assets.myntassets.com/v1/assets/images/...,https://www.myntra.com/kurta-sets/libas/libas-...,Libas,Brown | Coffee Brown,Occasion : Daily | Number of Components : 2 | ...

In [82]:
num_rows = filtered_df.shape[0]
print('Number of rows in filtered dataframe:', num_rows)

Number of rows in filtered dataframe: 6929

In [85]:
filtered_df.shape[0]

14

In [86]:
keywords = ['child']

#Check for extra spaces and convert to lower case
keywords = [kw.strip().lower() for kw in keywords]

# Join the keywords with "|" operator for matching the pattern
pattern = '|'.join(keywords)

# Use str.contains() for regular expression patterns
filtered_df = df1[df1['product_type'].str.contains(pattern, flags=re.IGNORECASE) | 
                 df1['product_details'].str.contains(pattern, flags=re.IGNORECASE) | 
                 df1['type'].str.contains(pattern, flags=re.IGNORECASE)]

filtered_df.shape[0]

14

### **Matched patterns transferred to resultant dataframe:**

In [87]:
import pandas as pd

age_groups_dict = {
    "Children": "t-shirt, jeans, shorts, smock dress, child, boys, girls",
    "Teens": "skinny jeans, graphic tees, V-neck, sneakers, dresses, Off-shoulder",
    "Adult": "chic, Off-shoulder, Bodycon, pencil skirt, blazers, blouses, jumpsuits, tops, sandals, mini skirts"
}


dfmap = pd.DataFrame.from_dict(age_groups_dict, orient='index')
dfmap = dfmap.reset_index()
dfmap.columns = ['AgeGroups', 'Dresstypes']
print(dfmap)

  AgeGroups                                         Dresstypes
0  Children  t-shirt, jeans, shorts, smock dress, child, bo...
1     Teens  skinny jeans, graphic tees, V-neck, sneakers, ...
2     Adult  chic, Off-shoulder, Bodycon, pencil skirt, bla...

### **Function to recommend outfits based on predicted age group:**

In [92]:
def recommend_age_based_outfits(input_values):
  predicted_age_group = clf_age_based.predict(input_values)
  dress_types = dfmap.loc[dfmap['AgeGroups'] == predicted_age_group[0], 'Dresstypes'].iloc[0]
  keywords = dress_types.split(',')

  #Check for extra spaces and convert to lower case
  keywords = [kw.strip().lower() for kw in keywords]

  # Join the keywords with "|" operator for matching the pattern
  pattern = '|'.join(keywords)

  # Use str.contains() for regular expression patterns
  filtered_df = df1[df1['product_type'].str.contains(pattern, flags=re.IGNORECASE) | 
                  df1['product_details'].str.contains(pattern, flags=re.IGNORECASE) | 
                  df1['type'].str.contains(pattern, flags=re.IGNORECASE)]
                  
  filtered_df = filtered_df.assign(age_group=predicted_age_group[0])
  return filtered_df

In [93]:
num_rows = filtered_df.shape[0]
print('Number of rows in filtered dataframe:', num_rows)

Number of rows in filtered dataframe: 14

In [94]:
filtered_df.shape[0]

14

In [95]:
result = recommend_age_based_outfits([[4]])
result

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

,title,product_type,product_details,ideal_for,type,images,link,brand,actual_color,specifications,age_group
9,SALWAR STUDIO Boys Orange & White Printed Kurt...,Kurta with Pyjamas,Orange and white printed kurta with pyjamas Or...,Boys,Clothing/Boys/Kurta Sets/SALWAR STUDIO/More by...,http://assets.myntassets.com/v1/assets/images/...,https://www.myntra.com/kurta-sets/salwar-studi...,SALWAR STUDIO,White | Orange,Occasion : Festive | Number of Components : 2 ...,Children
16,612 league Boys Red & Beige Solid Kurta with C...,Kurta with Churidar,Red and beige solid kurta with churidar Red a...,Boys,Clothing/Boys/Kurta Sets/612 league/More by 61...,http://assets.myntassets.com/v1/assets/images/...,https://www.myntra.com/8991019,612 league,Beige | Red,Occasion : Festive | Number of Components : 3 ...,Children
18,SOJANYA Boys Blue & Black Solid Kurta with Har...,Solid Kurta,Blue and black solid kurta with harem pants Bl...,Boys,Clothing/Boys/Kurta Sets/SOJANYA/More by SOJANYA,http://assets.myntassets.com/v1/assets/images/...,https://www.myntra.com/kurta-sets/sojanya/soja...,SOJANYA,Black | Blue,Occasion : Festive | Number of Components : 3 ...,Children
36,SG YUVRAJ Boys Maroon & Navy Blue Solid Kurta ...,Kurta with Trousers,Maroon and navy blue solid kurta with trousers...,Boys,Clothing/Boys/Kurta Sets/SG YUVRAJ/More by SG ...,http://assets.myntassets.com/v1/assets/images/...,https://www.myntra.com/kurta-sets/sg-yuvraj/sg...,SG YUVRAJ,Maroon | Blue | Navy,Occasion : Festive | Number of Components : 3 ...,Children
67,AJ Dezines Kids Beige & Pink Kurta Pyjama Wais...,Kurta Pyjama,AJ Dezines present this pink colored latest si...,Boys,Clothing/Boys/Kurta Sets/Aj DEZInES/More by Aj...,http://assets.myntassets.com/v1/assets/images/...,https://www.myntra.com/kurta-sets/aj-dezines/a...,Aj DEZInES,Beige | Pink,Occasion : Festive | Number of Components : 3 ...,Children
...,...,...,...,...,...,...,...,...,...,...,...
14143,Yellow Kite Girls Blue & Coral Pink Lehenga Ch...,Lehenga Choli with Dupatta,"Blue, gold-toned and coral pink lehenga choli ...",Girls,Clothing/Girls/Lehenga Choli/YK/More by YK,http://assets.myntassets.com/v1/assets/images/...,https://www.myntra.com/2063600,YK,Yellow | Pink | Blue | Coral,Dupatta Fabric : Net | Body or Garment Size : ...,Children
14144,SG YUVRAJ Boys Golden-Coloured & Red Self Desi...,Kurta with Trousers,Golden-coloured and red self design kurta with...,Boys,Clothing/Boys/Kurta Sets/SG YUVRAJ/More by SG ...,http://assets.myntassets.com/v1/assets/images/...,https://www.myntra.com/kurta-sets/sg-yuvraj/sg...,SG YUVRAJ,Red,Occasion : Festive | Number of Components : 3 ...,Children
14178,K&U Girls Green & Blue Printed Straight Kurta,Straight Kurta,"Green and blue printed straight kurta, has a r...",Girls,Clothing/Girls/Kurtas/K&U/More by K&U,http://assets.myntassets.com/v1/assets/images/...,https://www.myntra.com/7761537,K&U,Blue | Green,Shape : Straight | Sleeve Styling : No Sleeves...,Children
14210,BownBee Boys Pink & Yellow Printed Kurta with ...,Kurta with Dhoti Pants,Pink and yellow printed kurta with dhoti pants...,Boys,Clothing/Boys/Kurta Sets/BownBee/More by BownBee,http://assets.myntassets.com/v1/assets/images/...,https://www.myntra.com/8034229,BownBee,Yellow | Pink,Occasion : Festive | Number of Components : 2 ...,Children
14228,LilPicks Boys Green & Yellow Printed Kurta wit...,Kurta with Pyjamas,Green and yellow printed kurta with pyjamas G...,Boys,Clothing/Boys/Kurta Sets/LilPicks/More by LilP...,http://assets.myntassets.com/v1/assets/images/...,https://www.myntra.com/kurta-sets/lilpicks/lil...,LilPicks,Yellow | Green,Occasion : Daily | Number of Components : 2 | ...,Children